Makefile
Makefile.in
*.o
.deps
*~
*.log
stamp-*
/aclocal.m4
/config.guess
/config.h
/config.h.in
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/test-driver
/autom4te.cache
/doc/mdate-sh
/doc/netcat.1
/doc/netcat.info
/doc/netcat.pod
/doc/texi2pod.pl
/doc/texinfo.tex
/doc/version.texi
/po/*.gmo
/po/POTFILES
/src/netcat
/tests/check_portsrange
/tests/*.py
/tests/*.pyc
/tests/*.trs
